.box{
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
    padding: 20px;
    background-color: lightslategrey;
    color: white;
}

.blackbox{
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
    padding: 20px;
    background-color: rgb(52, 55, 58);
    color: white;
}